<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Overview" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" ui-sref="app.overview">
    <ion-nav-view name="app-overview"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Action" icon-off="ion-ios-bolt-outline" icon-on="ion-ios-bolt" ui-sref="app.action">
    <ion-nav-view name="app-action"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Wallets" icon-off="ion-ios-albums-outline" icon-on="ion-ios-albums" ui-sref="app.wallets">
    <ion-nav-view name="app-wallets"></ion-nav-view>
  </ion-tab>

</ion-tabs>
