<div>Dood</div>
<!-- will not load due to sandboxing -->
<script src="../../lib/ionic/js/ionic.bundle.min.js"></script>
<!-- <script src="file:///Users/ralcala/Library/Developer/CoreSimulator/Devices/A9CAF31E-A4C4-4777-893F-4AEB17A7CBC2/data/Containers/Data/Application/FA3E3969-9E15-4409-8F02-B5A0C3FABBE1/Documents/ExampleProject/jquery.js"></script>
<script src="/ExampleProject/jquery.js"></script> -->

<script>
  console.log('running frame script')
  window.marty = "yooooo";
  setTimeout(function(){
    console.log('running code');
    //parent.postMessage("runThis", "*");
  },10000);
</script>
