<ion-view view-title="Overview">
  <ion-content>
    <iframe src="views/overview/frame.html" sandbox="allow-scripts allow-same-origin" id="frame">
      <p>Your browser does not support iframes.</p>
    </iframe>
    <button class="button button-full button-balanced" ng-click="downloadFile()">
      Download File
    </button>
    <button class="button button-full button-positive" ng-click="loadFile()">
      Load File
    </button>
    <button class="button button-full button-assertive" ng-click="deleteFile()">
      Delete File
    </button>
  </ion-content>
</ion-view>
